body
{
  background: #ebf5ff;
}

.card-body {
  background: #FFF;
}

.page-header {
  text-align: center;
  margin: 48px auto;
}

.footer {
  text-align: center;
}

.main {
  max-width: 700px;
}

.form input,
.form .input-group>.input-group-append>.input-group-text,
.form .input-group>.form-control {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form,
.card {
  /* border: 1px solid #ced4da; */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.form .btn {
  flex: 1;
  border-radius: 0;
}

#hashContent {
  background: #FFF;
  border: none;
}

#hashContent.hidePass {
  color: #FFF;
}

.toast-wrapper {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 20px;
}

.toast-wrapper .toast {
  margin: auto;
  text-align: center;
}