@font-face{
  font-family: 'manrope';
  src: url('fonts/Manrope-VariableFont_wght.ttf');
}

body
{
  background: rgb(241, 255, 254);
  font-family: 'manrope', 'arial' !important;
}

a {
  color: #6aafaa;
}

.card {
  border: none;
}

.card-body {
  background: #FFF;
}

.page-header {
  text-align: center;
  margin: 48px auto;
}

.main-logo {
  width: 64px;
}

.footer {
  text-align: center;
}

.main {
  max-width: 700px;
}

.form-control {
  padding: 1.5rem !important;
}

.form input,
.form .input-group>.input-group-append>.input-group-text,
.form .input-group>.form-control {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form,
.card {
  /* border: 1px solid #ced4da; */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.form .btn {
  flex: 1;
  border-radius: 0;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus
 {
  background: #7BC9C4;
  border: none;
}

.btn-primary:active {
  background: #6aafaa !important;
  border: none;
}

#hashContent {
  background: #FFF;
  border: none;
}

#hashContent.hidePass {
  color: #FFF;
}

.toast-wrapper {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 20px;
}

.toast-wrapper .toast {
  margin: auto;
  text-align: center;
  background: #333;
  color: #FFF;
}