body
{
  background: #eaeaea;
}

.form input,
.form .input-group>.input-group-append>.input-group-text,
.form .input-group>.form-control {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form {
  border: 1px solid #ced4da;
  border-radius: 20px;
  overflow: hidden;
}

.form .btn {
  flex: 1;
  border-radius: 0;
}

#hashContent {
  background: #FFF;
}

#hashContent.hidePass {
  color: #FFF;
}

@media all and (max-width: 640px)
{
  .main
  {
    width: 100%;
    margin: 0;
  }

  .form .inline
  {
    flex-direction: column;
  }

  .form .inline .form-control
  {
    margin: 2px;
  }
}
